

.bordered-fieldset {
    /* this sounds delicious */
    border: thick chocolate groove;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.fancy {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}